<!DOCTYPE html>
<html lang="en">
<head>
	<title>Food Preparation</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<script>
var x=1;

$(document).ready(function(){
    $(".btn").click(function(){
		$(this).button('somestringvalue');
        if (this.value=="Done") {
        deleteRow(this);
       }
        this.value="Done";
    });   
});


function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("myTable").deleteRow(i);

}

</script>

{% block content %}{% endblock %}
</body>
<footer>
</footer>
</html>